Repository BrewingBytes/BranchWise, changes with the labels that .github/labeler.yml gives for each.
All labels: Workflow, UI, Tauri

run actions on main also
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Labels: Workflow

change wait labeler
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Labels: Workflow

Run Workflows on Main Branch also (#2)
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Labels: Workflow

only wait for pull request
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Labels: Workflow

only wait for pull request
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Labels: Workflow

upload to codecov
  .github/workflows/vue.yml
  vitest.config.ts
Labels: Workflow

Add Vue Coverage to Codecov (#3)
  .github/workflows/vue.yml
  vitest.config.ts
Labels: Workflow

add vue tests
  package.json
  src/tests/main.test.ts
  vitest.config.ts
  yarn.lock
Labels: UI

add rust tests
  src-tauri/src/main.rs
Labels: Tauri

Improve Initial Coverage (#4)
  package.json
  src-tauri/src/main.rs
  src/tests/main.test.ts
  vitest.config.ts
  yarn.lock
Labels: UI, Tauri

add vuetify test
  src/tests/main.test.ts
Labels: UI

Add Vuetify Register Test (#5)
  src/tests/main.test.ts
Labels: UI

add function to search for .git folder
  src-tauri/src/errors.rs
  src-tauri/src/main.rs
Labels: Tauri

always run tests
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Labels: Workflow

check if git folder has required files
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/errors.rs
  src-tauri/src/errors/mod.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Labels: Tauri

fix linter
  src-tauri/src/errors/git_error.rs
  src-tauri/src/errors/mod.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

remove matches
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

move required files to git project struct
  src-tauri/src/git/project_folder.rs
Labels: Tauri

create separate git project file
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

get branches from main local folder
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

add tests for local branches
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

implement subfolders
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

only use git test folder infrastructure
  src-tauri/.gitignore
  src-tauri/src/git/project_folder.rs
Labels: Tauri

remove greet handler
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Labels: Tauri

add vue display for branches
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/GreetComponent.vue
  src/pages/IndexPage.vue
  src/plugins/index.ts
  src/router/index.ts
  src/types/gitProject.ts
  yarn.lock
Labels: UI, Tauri

fix lint
  src/pages/IndexPage.vue
Labels: UI

remove vue tests
  .github/workflows/vue.yml
  codecov.yml
Labels: Workflow

Open Git Project and Show All Branches (#6)
  .github/workflows/rust.yml
  .github/workflows/vue.yml
  codecov.yml
  package.json
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/errors/mod.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/GreetComponent.vue
  src/pages/IndexPage.vue
  src/plugins/index.ts
  src/router/index.ts
  src/types/gitProject.ts
  yarn.lock
Labels: Workflow, UI, Tauri

refactor tests for remote branches
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

refactor
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

get local upstreams
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

add tags and remote branches support
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

display in vue
  src/pages/IndexPage.vue
Labels: UI

fix linter
  src/types/gitProject.ts
Labels: UI

fix lint
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

fix action
  .github/workflows/pull-request-chores.yml
Labels: Workflow

Add Remote Branches Support (#7)
  .github/workflows/pull-request-chores.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_files.rs
  src-tauri/src/git/git_folders.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/git/project_folder.rs
  src/pages/IndexPage.vue
  src/types/gitProject.ts
Labels: Workflow, UI, Tauri

Add Pinia and app-bar
  package.json
  src/App.vue
  src/plugins/index.ts
  src/plugins/pinia.ts
  src/plugins/vuetify.ts
  src/stores/app.ts
  yarn.lock
Labels: UI

customize nav bar and switch to dark mode
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/ToolbarComponent.vue
  src/plugins/vuetify.ts
  src/stores/app.ts
  src/types/user.ts
Labels: UI, Tauri

lint
  src/components/ToolbarComponent.vue
Labels: UI

.github/labeler.yml:

'Workflow':
- .github/workflows/**

'UI':
- src/**

'Tauri':
- src-tauri/**
