Repository BrewingBytes/BranchWise, changes with the labels that .github/labeler.yml gives for each.
All labels: Workflow, UI, Tauri

.github/labeler.yml:

'Workflow':
- .github/workflows/**

'UI':
- src/**

'Tauri':
- src-tauri/**

add snackbar error and add project button
  src/App.vue
  src/components/AddProject.vue
  src/pages/IndexPage.vue
  src/types/gitErrors.ts
Labels: UI

min size of window and no decorators
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Labels: Tauri

be able to drag window
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/AddProject.vue
  src/components/ToolbarComponent.vue
Labels: UI, Tauri

fix lint
  src/components/AddProject.vue
  src/components/ToolbarComponent.vue
Labels: UI

store projects in vue
  src/components/AddProject.vue
  src/components/Project.vue
  src/pages/IndexPage.vue
  src/stores/app.ts
  src/types/gitProject.ts
Labels: UI

Create Projects Page (#8)
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/AddProject.vue
  src/components/Project.vue
  src/components/ToolbarComponent.vue
  src/pages/IndexPage.vue
  src/plugins/index.ts
  src/plugins/pinia.ts
  src/plugins/vuetify.ts
  src/stores/app.ts
  src/types/gitErrors.ts
  src/types/gitProject.ts
  src/types/user.ts
  yarn.lock
Labels: UI, Tauri

add database struct with load and save
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/database/database.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/main.rs
Labels: Tauri

add disk load/save of db
  src-tauri/src/database/database.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src/components/AddProject.vue
Labels: UI, Tauri

save and load to disk, and display
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src/App.vue
  src/stores/app.ts
Labels: UI, Tauri

fix saving to correct folder
  src-tauri/src/database/database.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Labels: Tauri

save and load only internal db functions
  src-tauri/src/database/database.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Labels: Tauri

do not save two times to the db
  src-tauri/src/database/database.rs
  src-tauri/src/git/git_project.rs
  src/types/gitErrors.ts
Labels: UI, Tauri

can now remove projects
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src/components/AddProject.vue
  src/stores/app.ts
  src/types/gitErrors.ts
Labels: UI, Tauri

fix lint
  src-tauri/src/database/mod.rs
  src-tauri/src/database/storage.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src/App.vue
  src/components/Project.vue
  src/pages/IndexPage.vue
Labels: UI, Tauri

Add saving and loading projects to file (#9)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/database/mod.rs
  src-tauri/src/database/storage.rs
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src/App.vue
  src/components/AddProject.vue
  src/components/Project.vue
  src/pages/IndexPage.vue
  src/stores/app.ts
  src/types/gitErrors.ts
Labels: UI, Tauri

Fix tests
  src-tauri/src/database/storage.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

improve test coverage
  src-tauri/src/database/storage.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

Add Database Test Mode (#10)
  src-tauri/src/database/storage.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

add navbar
  src-tauri/src/main.rs
  src/App.vue
  src/components/NavbarComponent.vue
  src/components/ToolbarComponent.vue
  src/stores/app.ts
Labels: UI, Tauri

fix lint
  src/components/NavbarComponent.vue
Labels: UI

add hamburgher
  src-tauri/src/main.rs
  src/components/ToolbarComponent.vue
Labels: UI, Tauri

add project page
  src-tauri/src/main.rs
  src/components/NavbarComponent.vue
  src/components/Project.vue
  src/main.ts
  src/pages/ProjectPage.vue
  src/router/index.ts
  src/stores/app.ts
Labels: UI, Tauri

fix lint
  src/main.ts
  src/pages/ProjectPage.vue
Labels: UI

codecov
  codecov.yml
Labels: none

modify codecov
  codecov.yml
Labels: none

add branches button
  src/components/NavbarComponent.vue
  src/pages/IndexPage.vue
  src/pages/ProjectPage.vue
  src/stores/app.ts
Labels: UI

fix warnings
  src/App.vue
  src/components/AddProject.vue
  src/components/NavbarComponent.vue
  src/components/ToolbarComponent.vue
  src/main.ts
  src/pages/ProjectPage.vue
  src/types/gitProject.ts
Labels: UI

change size
  src-tauri/tauri.conf.json
Labels: Tauri

add branches
  src/components/AddProject.vue
  src/components/Project.vue
  src/pages/ProjectPage.vue
  src/plugins/vuetify.ts
Labels: UI

add delete and change icons for tags
  src/components/NavbarComponent.vue
  src/pages/ProjectPage.vue
  src/stores/app.ts
Labels: UI

add app version
  src/components/ToolbarComponent.vue
  src/stores/app.ts
Labels: UI

See project branches, upstreams and tags (#11)
  codecov.yml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/AddProject.vue
  src/components/NavbarComponent.vue
  src/components/Project.vue
  src/components/ToolbarComponent.vue
  src/main.ts
  src/pages/IndexPage.vue
  src/pages/ProjectPage.vue
  src/plugins/vuetify.ts
  src/router/index.ts
  src/stores/app.ts
  src/types/gitProject.ts
Labels: UI, Tauri

send invoke to rust
  src/components/NavbarComponent.vue
  src/stores/app.ts
Labels: UI

linter
  src-tauri/src/git/project_folder.rs
Labels: Tauri

lint
  src/pages/ProjectPage.vue
Labels: UI

Fix Removing Project From UI (#14)
  src-tauri/src/git/project_folder.rs
  src/components/NavbarComponent.vue
  src/pages/ProjectPage.vue
  src/stores/app.ts
Labels: UI, Tauri

add tokio and main setup function
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Labels: Tauri

add current project in database
  src-tauri/src/database/storage.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Labels: Tauri

set current project from frontend
  src-tauri/src/git/project_folder.rs
  src/stores/app.ts
Labels: UI, Tauri

update current project each 30 seconds
  src-tauri/src/database/storage.rs
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
Labels: Tauri
