Repository BrewingBytes/BranchWise, changes with the labels that .github/labeler.yml gives for each.
All labels: Workflow, UI, Tauri

add giterrorproject struct
  src-tauri/src/errors/git_error.rs
  src-tauri/src/main.rs
Labels: Tauri

update git project in frontend
  src-tauri/src/main.rs
  src/App.vue
  src/stores/app.ts
Labels: UI, Tauri

change timer
  src-tauri/src/main.rs
Labels: Tauri

lint
  src/stores/app.ts
Labels: UI

update project in database
  src-tauri/src/database/storage.rs
  src-tauri/src/main.rs
Labels: Tauri

fix multiple branches
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
Labels: Tauri

fix show root branches
  src/pages/ProjectPage.vue
Labels: UI

fix lint
  src/pages/ProjectPage.vue
Labels: UI

test vue workflow
  .github/workflows/vue.yml
Labels: Workflow

test new rust workflow
  .github/workflows/rust.yml
Labels: Workflow

add wait for vue
  .github/workflows/rust.yml
Labels: Workflow

add merge_group
  .github/workflows/rust.yml
  .github/workflows/vue.yml
Labels: Workflow

Update current project branches, remotes and tags (#15)
  .github/workflows/rust.yml
  .github/workflows/vue.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/database/storage.rs
  src-tauri/src/errors/git_error.rs
  src-tauri/src/git/git_project.rs
  src-tauri/src/git/project_folder.rs
  src-tauri/src/main.rs
  src/App.vue
  src/pages/ProjectPage.vue
  src/stores/app.ts
Labels: Workflow, UI, Tauri

Add release action
  .github/workflows/release.yml
Labels: Workflow

Add Release Action (#16)
  .github/workflows/release.yml
Labels: Workflow

test tauri updater
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Labels: Tauri

add dependabot autoupdate depedencies
  .github/dependabot.yml
Labels: none

Add Dependabot (#19)
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

'Workflow':
- .github/workflows/**

'UI':
- src/**

'Tauri':
- src-tauri/**
